<div align="center" class="content-container">
    <div class="header">
        <br>
        <h1 class="page-title">
            ${{ title }}
        </h1>
        <br>
    </div>
    <div class="contents">
        <h3> 
            Walkifyjs is <span class="page-desc">${{ description }}</span><span class="page-desc-cursor">|</span>
        </h3>
        <br>
    </div>
    <div class="cta-cont">
        <div class="cta-block">
            <a class="btn cta-btn btn-dark" href="https://github.com/nobledsmarts/walkify">
                GitHub
            </a>
            <a class="btn cta-btn" href="/docs">
                Documentation
            </a>
        </div>
    </div>
</div>

