
*{
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background: #e3dddd;
    background : #f2f0f3;
    font-family : sans-serif;
    font-size: 16px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
header{
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    background: #9c27b0;
    flex-basis: 5%;
    top: 0;
    z-index: 900;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.nav-item{
    text-transform: uppercase;
}
.toggler{
   background-image : url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(156 39 176)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
   display: inline-block;
   /* background : #fff; */
   padding:10px;
}
.brand{
    flex-basis: 10%;
    font-weight: bolder;
    font-size: 1.2rem;
    color: aliceblue;
    text-shadow: #ccc;
    padding: 10px 15px;
}
.brand-toggler-cont{
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
}
.toggler-cont{
    display: none;
    background: #fff;
}
.toggler-block{
    border: 1px solid #fff;
    padding: 5px 10px;
    display : flex;
    justify-content: center;
    align-items: center;
    background : #fffffff2
}
.toggler-block:hover{
    cursor: pointer;
}

.loader-container{
    position: fixed;
    /* height: 100vh; */
    background: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    will-change: display, height, opacity;
}
.main-content{
    width: 100%;
    position: relative;
    min-height: 80vh;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app{
    width: 60%;
    /* display: ; */
}
/* .app{
    display: block;
} */
.content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-image{
    display: block;
    width: 230px;
    height: 230px;
    border-radius: 50%;
}
.page-desc-cursor{
    color: blue;
    animation: cursor 1s ease infinite forwards;

    font-size: larger;
    will-change: font-size;
}
@keyframes cursor{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.matched{
    background: yellow;
    padding: 0px 4px;
    margin: 0px 4px;
    display: inline-flex;
}
.content{
    flex-direction: column;
    width: 100%;
    display: flex;
    margin : auto;
}
.content .header{
    flex-basis: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .contents{
    flex-basis: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    text-align: center;
}
.content .cta-cont{
    flex-basis: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.1);
    padding: 20px;
    width: 100%;
    min-height: 400px;
    color: darkblue;
    border-radius: 10px;
    position: relative;
    background-color: #fff;
}
.content-container.docs{
    display : block;
}
.content .header{
    flex-basis: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .contents{
    flex-basis: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .cta-cont{
    flex-basis: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #66229ed7;
    width: 50px;
    height: 50px;
    display: inline-block;
    -webkit-animation: spin .9s linear infinite; 
    animation: spin .9s linear infinite;
    vertical-align: middle;
    margin: 0px 7px;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
.footer{
    background: #07073a;
    min-height: 100px;
    color: #ccc;
    display: flex;
    flex-basis: 10%;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #9c27b0;
}
.row{
    display: block;
}
@media screen and (min-width : 632px){
    .sm{
        display: none;
    }
    
    .nav-item-cont{
        flex-basis: 90%;
    }
    .nav-item{
        flex-basis: 90%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
    }
    .nav-item a:link{
        margin: 0px 10px;
        text-decoration: none;
        background: #fff;
        color: blue;
        border-radius: 40px;
        font-size: 0.7rem;
        padding: 8px 12px;
        transition: all 200ms ease;
        outline: none;
    }
    .nav-item a:visited{
        color: darkblue;
    
    }
    .nav-item a:visited:hover, .nav-item a:hover{
        background: #ffffffd6;
        color: rgb(57, 57, 230);  
    }
    .app{
        margin: 50px 10px;
    }
}
@media screen and (max-width: 631px){
    .nav-title{
        padding: 5px 6px;
        background: #710d82;
        color: aliceblue;
        margin: 0px;
        font-size: smaller;
    }
    .brand-toggler-cont{
        background : #9c27b0;
        z-index: 2000;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    }
    .nav-item-cont{
        flex-basis: 100%;
        margin-top: -200%;
        height: 0px;
        background : #9c27b0;
        transition: all 1s ease;
        animation: hidenav 1s ease-out forwards;
        will-change: height, overflow;
    }
    .nav-item-cont.nav-open{
        height: 0px;
        background : #9c27b0 !important;
        animation: shownav 1s ease forwards;
        transition: all 1s ease;
    }  
    @keyframes shownav{
        0% {
            margin-top: -100%;
        }
        100%{
            margin-top: 0%;
        }
    }
    @keyframes hidenav{
        0% {
             margin-top: 0%;
        }
        100%{
            margin-top: -200%;
        }
    }
    .nav-item{
        list-style: none;
        margin: 0px;
        padding: 0px;
        background : #9c27b0;
    }
    .nav-item-list:not(:last-child){
        padding: 0px;
        margin: 0px;
        border-bottom: 1px solid rgb(196 162 202 / 37%);
    }
      
    .toggler-cont{
        display: flex;
    }
    .nav-item a:link, .nav-item a {
        display: block;
        font-size: 0.8rem;
        padding: 15px 8px;
        transition: all 200ms ease;
        outline: none;
        color: #fff;
        text-decoration: none;
    }
    .nav-item a:visited:hover, .nav-item a:hover{
        background: #ffffffd6;
        color: rgb(57, 57, 230);  
    }
    .app{
        width: 95%;
        margin: 50px 10px;
    }
    .user-image{
        width: 200px;;
        height: 200px;
    }
    .nav{
        flex-wrap: wrap;
        justify-content: center;
    }
    .brand{
        flex-basis: 10%;
        padding: 10px 10px;
    }
    .nav-item{
        flex-basis: 90%;
        justify-content: center;
        padding: 5px 0px;
    }
    .nav-item a:link, .nav-item a{
        padding: 5px 10px;
    }
}
.error{
    font-weight: bold;
    color: #E91E63;
}
@media screen and (max-width: 400px){
    .app{
        min-height: 60vh;
    }
    .nav-item a:link, .nav-item a{
        margin: 5px;
     }
    .user-image{
        width: 180px;;
        height: 180px;
        
    }
    .nav-item{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 330px){
    .nav-item a:link{
       margin: 5px;
    }
}
@media screen and (max-width: 260px){
    .app, .loader-container{
        min-height: 53vh;
    }
}
.js-code-example, .html-code-example{
    background: #130415; 
    min-width: 50%;
    border-radius: 10px; 
     overflow-x: auto;
     display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    /* color: gold; */
    color: #e5cd47;
    /* color: #f8e8fb; */
    width: 100%;
}
code.js-code-example, code.html-code-example{
    white-space: pre;
}
.comment{
    color: #b2abb7;
    font-size: 0.8rem;
}
.btn{
    border: none;
    outline: none;
    max-width : 100%;
    padding: 5px 12px;
    border: none;
    color: aliceblue;
    border-radius: 5px;
    margin: 10px;
    box-shadow : 0px 0px 14px 2px rgb(205 199 206 / 30%);
}
.cta-btn{
    padding: 10px 40px;
    font-size: 1.2rem;
    background: #1a57c5;
    transition: all 500 ease !important;
    font-weight: bold;
    border: 2px solid transparent;
    text-decoration: none;
}
.cta-btn:hover{
    cursor: pointer;
    background: #3073ec;
}
.page-title{
    color: #2170fe;
    text-shadow: 0px 1px 2px rgba(100, 100, 100, 0.5);
    font-family: monospace;
    font-size: 1.9rem;
}
.btn-dark{
    background : #1f1f67;
    border: 2px solid transparent;
}
.btn-dark:hover{
    color :  #1f1f67;
    border: 2px solid #1f1f67;
    background: #fff;
    transition: all 500 ease;
}
img{
    max-width: 100%;
}
.code-img{
    margin: 10px 5px;
}
.cta-block{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

}
ol.linenums li .tag, ol.linenums li .kwd{
color : #9cafec;
}
.str, .atv {
    color: #d17b90;
}
ol.linenums li {
    color: #E91E63;
    color :#03a9f4;
    text-shadow: none;
}
.bg-code{
    overflow-x : auto;
    background :#0a0a3b !important;
}
.pln{
    color: #d8d8e3;
}
@keyframes slide {
    to {
        opacity: 0.9;
    }
}
@keyframes hide{
    to {
        opacity: 0;
        transform: translateY(-100vh);
        display: none;
    }
}
.hide{
    animation: slide 0ms ease, hide 1s ease forwards;
}
.back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
.back-to-top-txt:hover{
    cursor: pointer;
}
.back-to-top-txt{
    transform: rotate(90deg);
    display: inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(134deg, #ffffff 20%, #eceaed 69%);
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #060633 !important;
    font-size: 20px;
    box-shadow: 0px 0px 0px 13px rgb(156 39 176 / 39%);
    animation: glow 1.5s cubic-bezier(0.08, 0.39, 0.86, 1.1) infinite;
}
.show {
    display: block;
}
@keyframes glow{
    100% {
        box-shadow: 0px 0px 0px 10px rgb(156 39 176 / 21%);
    }
    0% {
        box-shadow: 0px 0px 0px 3px #2a2a8fb8;
    }
}
span, b{
    display : inline;
}